
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/favicon.ico">

    <title>curl to C# converter</title>
    <link asp-append-version="true" href="/css/vendor.min.css" rel="stylesheet">
    <link asp-append-version="true" href="/css/site.min.css" rel="stylesheet">
</head>

<body>

<main role="main" class="container">
    @RenderBody()
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
<script asp-append-version="true" src="js/vendor.min.js"></script>
<script asp-append-version="true" src="js/site.min.js"></script>
</body>
</html>
