version: 1.0.{build}
image: Visual Studio 2017
install:
  - choco install curl
  - dotnet tool install -g Cake.Tool --version 0.30.0 
build_script:
- cmd: dotnet cake -Target CI
test: off
deploy:
- provider: AzureAppServiceZipDeploy
  website: curltocsharp
  username: CurlToCSharp
  password:
    secure: anNXyv5QGtXmsPV21/COiAolYBhLYF8Pi3yWd/qIRd4=
cache:
  - '%USERPROFILE%\.sonar\cache'
  - 'src\CurlToCSharp\node_modules\ -> src\CurlToCSharp\yarn.lock'
  - '%LOCALAPPDATA%\Yarn\cache -> src\CurlToCSharp\yarn.lock'
  - '%USERPROFILE%\.nuget\packages -> **\*.csproj'
  - 'C:\ProgramData\chocolatey\lib -> appveyor.yml'
  - 'src\tools -> build.cake'
