<form>
    <div class="form-group">
        <label for="curl">curl</label>
        <textarea class="form-control" id="curl" rows="3"></textarea>
    </div>
    <button id="convert-button" type="button" class="btn btn-primary">Submit</button>
</form>
