<div class="row">
    <div class="col">
        <form>
            <div class="form-group">
                <textarea placeholder="Enter curl command here" class="form-control" id="curl" rows="3"></textarea>
            </div>
            <button id="convert-button" type="button" class="btn btn-primary">Convert</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <pre class="d-none" id="csharp">some text</pre>
    </div>
</div>
