<div class="row">
    <div class="col-xl-12 text-center">
        <h1><a href="https://curl.haxx.se/docs/manpage.html" target="_blank" rel="noopener">curl</a> to C# converter</h1>
    </div>
</div>

<div class="row mb-2">
    <div class="col-xl-12 text-center">
        This app converts curl commands to C# code. If you found a bug or have suggestions, 
        please <a href="https://github.com/olsh/curl-to-csharp/issues">open an issue</a> or 
        better <a href="https://github.com/olsh/curl-to-csharp">contribute on GitHub</a>.
    </div>
</div>

<div class="row mb-2">
    <div class="col-xl-12 text-center">
        Check out some examples below.
    </div>
    <div id="examples" class="col-xl-12 text-center">
        <div class="btn-group btn-group-sm" role="group" aria-label="Examples">
            <button data-curl="curl https://github.com/" type="button" class="btn btn-secondary">GET</button>
            <button data-curl="curl https://sentry.io/api/0/projects/1/groups/?status=unresolved -d '{&quot;status&quot;: &quot;resolved&quot;}' -H 'Content-Type: application/json' -u 'username:password' -H 'Accept: application/json' -H 'User-Agent: curl/7.60.0'" type="button" class="btn btn-secondary">POST JSON</button>
            <button data-curl="curl -X POST -d @@file1.txt -d @@file2.txt https://example.com/upload -b SessionId=437b27169b6b4349a388038329eeb900 -H 'Referer: https://github.com/'" type="button" class="btn btn-secondary">Upload Files</button>
        </div>
    </div>
</div>

<div class="row row mb-4">
    <div class="col-xl-12">
        <form>
            <div class="form-group">
                <textarea required="required" placeholder="Enter curl command here" class="form-control" id="curl" rows="3"></textarea>
            </div>
            <button id="convert-button" type="button" class="btn btn-primary btn-lg">Convert</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="errors" class="alert alert-danger collapse pre-alert" role="alert"></div>
        <div id="warnings" class="alert alert-warning collapse pre-alert" role="alert"></div>
        <pre class="collapse" id="csharp"></pre>
    </div>
</div>
